{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<body style="background-color:rgb(228, 228, 228);">
    <div class="background" style="top:55px;right:0px;bottom:0px;left:0px; background-color:rgb(228, 228, 228);">
        <div align="center" style="position: relative;background-color: white;border-radius: 25px; padding: 10px;height:fit-content;width:800px;margin-left:auto;margin-right:auto;margin-top:100px;margin-bottom:100px;" class="login-container">
    <br />
    <div id="profile-pic" style="height: fit-content; width: 120px; border-radius: 50%; border-color:rgb(66, 66, 66); border-width: 4px; border-style: solid; padding: 20px;">
        <i class="fa fa-user fa-4x" aria-hidden="true"></i>
    </div>
    <h1 align="center">{{current_user.username}}</h1>
    <p>{{current_user.email}}</p>
    </div>
    </div>
</body>
{% endblock %}